@import "./components/variables.scss";
@import './sass/Dashboard';

html, body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background: $greyLight-1;
  height: 100vh;
  display: flex;
  flex-direction: column;
}