@import '../_variables.scss';

.task-div {
    border: 1px solid transparent;
    cursor: pointer;
    margin: 0px 10px 10px 10px;
    border-radius: 1rem;
    box-shadow: $inner-shadow;
    color: $primary;

}